div#search {
	text-align: center;
}

input.input {
	text-align: center;
	width: 500px;
	height: 20px;
}

button.btn {
	text-align: center;
	width: 100px;
	height: 20px;	
}

div.grid {
	border: solid;
	height: 450px;
	width: 32%;
	display:block;
	float:left;
	list-style-type:none;
	text-align:center;
}


