html,body {
    height:100%;
}

.hidden {
	display: none;
}

header {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    background-color: rgba(187,226,255,1);
    border-bottom: 1px solid #CCC;
    color: #FFF;
    top:0;
    left:0;
    z-index: 2;
}

img.head {
    margin: 0 auto;
    padding-left: 10%;
    height: 80%;
	float: left;
}

img.mail {
    padding-right: 11%;
    height: 80%;
    float: right;
    width: 35px;
    height: 35px;
    float: right;
}

div.main-contents {
    width: 80%;
    margin: 0 auto;
}

div#search {
    margin-top: 45px;
	height: 300px;
	text-align: center;
	background-image: url("../img/search.jpg")
}

div#container {
    width: 100%;
}

input.input {
	text-align: center;
	width: 80%;
	height: 35px;
	margin-top: 60px;
}

button.btn {
    text-align: center;
    width: 25%;
    height: 25px;
    margin-top: 30px;
    background-color: white;
}

a.grid {
    margin-left: 5%;
    margin-bottom: 1%;
    color: rgba(187,226,255,1);;
    padding: 0.5px;
    border: 1px dashed rgba(187,226,255,1);
	height: 45%;
	width: 18%;
	display: block;
	float: left;
	text-align: center;
}

a.grid:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
}

img.item-img {
	height: 80%;
	margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.label {
    position: relative;
}

.label:after {
    position: absolute;
    content: " ";
    height: 0;
    width: 0;
}

img.brand-logo  {
    position: absolute;
    height: 30px;
    z-index:1;
    top: .1em;
    left: .1em;

}

.left:after {
    top: 0;
    left: 0;
    border-bottom: 4em solid transparent;
    border-left: 4em solid rgba(187,226,255,1);
}

#loading {
    position:relative;
    margin: 0 auto;
    width:80%;
    min-height: 100%;
    background-repeat: no-repeat;
    padding-top:100px;
    filter: alpha(opacity=85);
    -moz-opacity:0.85;
    opacity:0.85;
}

.loaderIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#modalbox {
    display:none;
    position:absolute;
    z-index:1000;
    width:400px;
    padding:20px;
    background:#fff;
    border:5px solid #eee;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}

#overlay {
    opacity:0;
    filter: alpha(opacity=0);
    position:absolute;
    top:0;
    left:0;
    z-index:900;
    width:100%;
    height:100%;
    background:#000;
}

#close {
    line-height:1;
    font-size:14px;
    position: absolute;
    top:10px;
    right:10px;
    color:red;
    text-decoration:none;
}​